body {
  background-color: white;
}

a {
  text-decoration: none;
  color: #374151;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6vw;
  padding-left: 5vw;
  padding-right: 5vw;

  &__brand {
    font-weight: bold;
  }

  &__menu-list {
    display: flex;
  }

  &__menu {
    margin-left: 3.125vw;
  }

}

.main {
  padding-left: 2.5vw;
  padding-right: 2.5vw;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 744px;
    background: linear-gradient(to right, #4295f2, #3dc699);
    text-align: center;
    font-size: 76px;
    line-height: 86px;
    letter-spacing: -0.04em;
    color: white;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  opacity: 0.638;
  background-color: #f7f7f8;
  height: 12vw;
}
